workspace/.jxbrowser.userdata/
workspace/.metadata/
workspace/pwmled_EK_TM4C123GXL_TI/
workspace/dvt/
workspace/RemoteSystemsTempFiles/
workspace/spiloopback_EK_TM4C123GXL_TI/
workspace/usbkeyboarddevice_EK_TM4C123GXL_TI/
workspace/empty_EK_TM4C123GXL_TI/.launces/
workspace/empty_EK_TM4C123GXL_TI/.settings/
workspace/empty_EK_TM4C123GXL_TI/Debug/
workspace/uartecho_EK_TM4C123GXL_TI/
